<div id="{{handler}}" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 55%; margin-left: 20%">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <center><h4 class="modal-title">{{header}}</h4></center>
            </div>
            <div class="modal-body">
                <!--div ng-bind-html="body"></div-->
                <center>
                    <p>Host</p>
                    <input  id="host" type="text" class="form-control" placeholder="localhost" ng-model="host">
                    
                    <p>Puerto</p>
                    <input  id="port" type="text" class="form-control" placeholder="5432" ng-model="port">
                    
                    <p>Base de Datos</p>
                    <input  id="db" type="text" class="form-control" placeholder="cursoGIS" ng-model="db">
                    
                    <p>Esquema</p>
                    <input  id="schema" type="text" class="form-control" placeholder="public" ng-model="schema">
                    
                    <p>Usuario</p>
                    <input  id="user" type="text" class="form-control" placeholder="postgres" ng-model="user">
                    
                    <p>Contraseña</p>
                    <input  id="pass" type="text" class="form-control" placeholder="12345" ng-model="pass">
                </center>
                <!--p class="text-warning"></p-->

            </div>
            <div class="modal-footer">
                <span class="text-left pull-left">{{footer}}</span>                
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-ng-click="callbackbuttonright(); $event.stopPropagation()">Conectar</button>
            </div>
        </div>
    </div>
</div>